<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alertsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>alertsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AlertSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AlertSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="alertSystemEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=alertsystem;Persist Security Info=True;User ID=edu_user;Password=123" Name="server=localhost;user id=edu_user;password=123;persistsecurityinfo=True;database=alertsystem" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApp.Database.alertSystemEntities, WebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)alertSystemEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Database.AlertModel.csdl|res://*/Database.AlertModel.ssdl|res://*/Database.AlertModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=localhost;user id=edu_user;password=123;persistsecurityinfo=True;database=alertsystem"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>