@using Microsoft.Ajax.Utilities
@model WebApp.Database.Element

<!-- BEGIN BASIC PORTLET-->
<div class="portlet light portlet-fit  bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-layers font-red"></i>
            <span class="caption-subject font-red bold uppercase"></span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-cloud-upload"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-wrench"></i>
            </a>
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-trash"></i>
            </a>
        </div>           
    </div>

    <div class="portlet-body">
        <div class="row">
            @*<div class="col-md-1"></div>*@
            <div class="col-md-12">
                <div class="md-editor active">
                    <textarea id="@Model.Id" name="content" data-provide="markdown" class="md-input">@Model.TextContent</textarea>
                    <div class="md-fullscreen-controls">
                        <a href="#" class="exit-fullscreen" title="Exit fullscreen">
                            <span class="glyphicon glyphicon-fullscreen"></span>
                        </a>
                    </div>
                </div>
            </div>
            @*<div class="col-md-1"></div>*@
        </div>
    </div>
</div>