@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="separator hide"> </li>
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-success unreadAlertsCount"> @ViewBag.unreadAlertsCount </span> 
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <p style="text-align: center" class="bold">
                                <span style="text-align: center" class="unreadAlertsCount">@ViewBag.unreadAlertsCount </span> notifications
                            </p>
                            <a style="text-align: center" href="#feedsIt">view all</a>
                            <p ></p>
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>            
     }
}
 else
 {
       <ul class="nav navbar-nav navbar-right">
           <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
       </ul>
 }
