@using System.Threading
@using System.Web.Mvc;
@using Microsoft.Ajax.Utilities

@helper PrintTypeIcon(string activityType)
{   
switch (activityType)
{
    case "Evenimente":
        <div><span aria-hidden="true" class="icon-calendar"></span> 
        </div>
        break;
    case "Meteo":
            <div>
                <span aria-hidden="true" class="icon-drop"></span>
            </div>
        break;
    case "ServiciiComunale":
            <div>
                <span aria-hidden="true" class="icon-home"></span>
            </div>
        break;
    case "Transport":
            <div>
                <span aria-hidden="true" class="icon-basket"></span>
            </div>
        break;
    default:
            <div>
                <span aria-hidden="true" class="icon-calendar"></span>
            </div>
        break;
}
}
